* {
    margin: 0;
    padding: 0;
}
html {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
* {
    outline: 2px dotted deeppink;
}
body {
    width: 100%;
    background: linear-gradient(to left, #2c3e50, #3498db);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}
.devicon-github-original {
    font-size: 50px;
}

.handles img {
    width: 2.5w;
    height: 2.5vw;
}
.details img {
    width: 2vw;
    height: 2vw;
}

main img {
    /* width: 25px;
    height: 25px; */
}

.phone img, .email img {
    width: 2vw;
    height: 2vw;
}


.phone , .email {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.contactMe {
    background-color: #2980b9;
    color: white;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 2vw;
}
.portrait2 {
    max-width: 100%;
    min-width: 30%;
    height: auto;
}

.leftPartContact {
    min-width: 50%;
    line-height: 2;
    font-size: 2vw;
}
.handles {
    display: flex;
    gap: 1rem;
}
.aboutMe {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #3498db;
    z-index: 1;
    margin: 2vw;
}
.aboutMe::before {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    position: absolute;
    z-index: -1;
}
.aboutIcons img { 
    width: 4vw;
    height: 4vw;
}
.aboutText {
    background-color: white;
    margin: 1vw 0;
}
.portrait1 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.myWork {
    margin: 2vw 2vw;
}
.projects > div {
    box-shadow: 6px 8px 8px rgba(0,0,0,0.2);
    background: white;
}
.projects {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr) ;
    gap: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: auto;
}
.projectImage {
    width: 100%;
    min-height: 33%;
    height: auto;
}
.aboutProject {
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projecticons {
    display: flex;
    gap: 1rem;
}
.projecticons img {
    width: 4vw;
    height: 4vw;
}
.description {
    padding-top: 1rem;
}
.workTitle {
    /* font-size: 4vw; */
    font-size: 7vw;
}
.aboutText {
    padding: 2.5vw 2vw;
    box-shadow: 6px 8px 8px rgba(0,0,0,0.2);
}
.aboutmetextlorem {
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.aboutIcons {
    padding-top: 1vw;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
}
.name {
    color: black;
    font-weight: bold;
    font-family: 'Playfair Display';
    font-size: 7vw;
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}   

.aboutText {
    z-index: 1;

}
.portrait1 {
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.person {
    position: relative;
}
.name {
    z-index: 3;
    position: absolute;
    /* position: sticky; */
    bottom: 0;
}
.aboutmeTitle {
    font-family: 'Playfair Display';
    font-size: 6vw;
    font-weight: bold;
}


@media (max-width: 500px) {
    .aboutMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2vw 2vw;
        position: relative;
    }
    .portrait1 {
        width: 100%;
        min-height: 400px;
        margin: 0 2rem;
    }
    .person {
        margin: 0 2rem;
    }
    .aboutText {
        margin-top: 0;
        padding: 2vw 2vw;

    }
    .aboutmetextlorem {
        font-size: 4vw;
    }
    .aboutmeTitle {
        text-align: center;
    }
    .aboutIcons {
        justify-content: center;
    }
    .myWork {
        padding-left: 1.2vw;
        padding-right: 1.2vw;
    }
    .projects {
        grid-template: repeat(6,1fr) / 1fr;
    }
    .myWork {
        display: flex;
        flex-direction: column;
    }
    .workTitle {
        text-align: center;
    }
    .contactMe {
        display: flex;
        flex-direction: column;
        font-family: 'Playfair Display';
    }
    .leftPartContact {
        display: flex;
        flex-direction: column;
        line-height: 2vw;
        gap: 3vw;
        font-size: 3vw;
    }
    .contactmeTitle {
        text-align: center;
    }
    .getintouch {
        font-size: 1.5vw;
    }
    .handles {
        justify-content: center;
    }
    .portrait2 {
        max-width: 100%;
        object-fit: contain;
        height: auto;
    }
}

/*
@media (max-width: 1050px) {
    .projects {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        margin-bottom: 6vw;
    }
    .contactMe {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        padding: 5vw 3vw;
    }
    .leftPartContact {
        display: flex;
        flex-direction: column;
        line-height: 1.7vw;
        gap: 1.8vw;
    }
    .portrait2 {
        max-width: 100%;
        object-fit: contain;
        min-height: 4vw;
    }
    .aboutMe {
        position: relative;
        padding-bottom: 10vw;
    }
    .person {
        float: left;
    }
    .portrait1 {
        min-height: 300px;
    }
    .aboutText {
        position: absolute;
        left: 6rem;
        top: 7rem;
        right: 5rem;
        height: 15rem;
    }
    .aboutmeTitle {
        position: absolute;
        left: 24rem;
    }
    .aboutmetextlorem {
        position: absolute;
        left: 17rem;
        top: 6rem;
    }
    .aboutIcons {
        position: absolute;
        top: 15rem;
        left: 43rem;
    }
}
*/