* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body > * {
    width: 100%;
    max-width: 100%;
}
body {
    width: 100%;
    background: linear-gradient(to left, #2c3e50, #3498db);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.devicon-github-original {
    font-size: 50px;
}

.handles img {
    width: 40px;
    height: 40px;
}
.details img {
    width: 30px;
    height: 30px;
}

main img {
    width: 25px;
    height: 25px;
}

.phone img, .email img {
    width: 25px;
    height: 25px;
}


.phone , .email {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contactMe {
    width: 100%;
    background-color: #2980b9;
    color: white;
    gap: 2rem;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
}
.portrait2 {
    max-width: 100%;
    min-width: 30%;
    height: auto;
}

.leftPartContact {
    min-width: 200px;
    line-height: 3.3;
    font-size: 1.2rem;
}
.handles {
    display: flex;
    gap: 1rem;
}
.aboutMe {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 1rem;
    background-color: #3498db;
    z-index: 1;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}
.aboutMe::before {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    position: absolute;
    z-index: -1;
}
.aboutIcons img { 
    width: 25px;
    height: 25px;
}
.aboutText {
    background-color: white;
    margin: 1rem 0;
}
.portrait1 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.myWork {
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.projects > div {
    box-shadow: 6px 8px 8px rgba(0,0,0,0.2);
    background: white;
}
.projects {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr) ;
    gap: 3rem;
    /* padding-top: 2rem; */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.projectImage {
    width: 100%;
    min-height: 300px;
    height: auto;
}
.aboutProject {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projecticons {
    display: flex;
    gap: 1rem;
}
.description {
    padding-top: 1rem;
}
.workTitle {
    font-size: 4rem;
}
.aboutText {
    padding: 2.5rem 2rem;
    box-shadow: 6px 8px 8px rgba(0,0,0,0.2);

}
.aboutmetextlorem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.aboutIcons {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.name {
    color: black;
    font-family: 'Playfair Display';
    font-size: 4rem;
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}   

.aboutText {
    z-index: 1;

}
.portrait1 {
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.person {
    position: relative;
}
.name {
    z-index: 3;
    position: absolute;
    /* position: sticky; */
    bottom: 0;
}
.aboutmeTitle {
    font-family: 'Playfair Display';
    font-size: 3rem;
}

@media (max-width: 500px) {
    .aboutMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        /* clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%); */
        position: relative;
    }
    .portrait1 {
        width: 100%;
        min-height: 400px;
        margin: 0 2rem;
    }
    .person {
        margin: 0 2rem;
    }
    .aboutText {
        margin-top: 0;
        padding: 2rem 2rem;
        min-height: 400px;
    }
    .aboutmetextlorem {
        font-size: 1.5rem;
    }
    .aboutmeTitle {
        text-align: center;
    }
    .aboutIcons {
        justify-content: center;
    }
    .myWork {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .projects {
        grid-template: repeat(6,1fr) / 1fr;
    }
    .myWork {
        display: flex;
        flex-direction: column;
    }
    .workTitle {
        text-align: center;
    }
    .contactMe {
        display: flex;
        flex-direction: column;
        font-family: 'Playfair Display';
    }
    .leftPartContact {
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        gap: 3rem;
    }
    .contactmeTitle {
        text-align: center;
    }
    .getintouch {
        font-size: 1.4rem;
    }
    .handles {
        justify-content: center;
    }
    .portrait2 {
        max-width: 100%;
        object-fit: contain;
        height: auto;
    }
}

@media (max-width: 1050px) {
    .projects {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        margin-bottom: 6rem;
    }
    .contactMe {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        padding: 5rem 3rem;
    }
    .leftPartContact {
        display: flex;
        flex-direction: column;
        line-height: 1.7rem;
        gap: 1.8rem;
    }
    .portrait2 {
        max-width: 100%;
        object-fit: contain;
        min-height: 4rem;
    }
    .aboutMe {
        position: relative;
        padding-bottom: 10rem;
    }
    .person {
        /* position: absolute; */
        float: left;
    }
    .portrait1 {
        min-height: 300px;
    }
    /* .aboutText {
        position: absolute;
        left: 6rem;
        top: 7rem;
        right: 5rem;
        height: 15rem;
    } */
    /* .aboutmeTitle {
        position: absolute;
        left: 24rem;
    }
    .aboutmetextlorem {
        position: absolute;
        left: 17rem;
        top: 6rem;
    }
    .aboutIcons {
        position: absolute;
        top: 15rem;
        left: 43rem;
    } */
}